html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  background-color: #444;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}
